#######################
# Copy this file to .env.local and fill the values
#######################
NEXT_PUBLIC_CARDANO_NET="Preview"
# NEXT_PUBLIC_CARDANO_NET=Emulator
# NEXT_PUBLIC_CARDANO_NET=Mainnet
# NEXT_PUBLIC_CARDANO_NET=Preview
# NEXT_PUBLIC_CARDANO_NET=Preprod
# NEXT_PUBLIC_CARDANO_NET=Custom
#######################
# se usan para inicializar settings, pero luego se usan las que estan en settings
NEXT_PUBLIC_BLOCKFROST_URL_MAINNET=https://cardano-mainnet.blockfrost.io/api/v0
NEXT_PUBLIC_BLOCKCHAIN_EXPLORER_URL_MAINNET="https://cexplorer.io/"
NEXT_PUBLIC_BLOCKFROST_URL_PREVIEW=https://cardano-preview.blockfrost.io/api/v0
NEXT_PUBLIC_BLOCKCHAIN_EXPLORER_URL_PREVIEW="https://preview.cexplorer.io/"
NEXT_PUBLIC_BLOCKFROST_URL_PREPROD=https://cardano-preprod.blockfrost.io/api/v0
NEXT_PUBLIC_BLOCKCHAIN_EXPLORER_URL_PREPROD="https://preprod.cexplorer.io/"
#######################
BLOCKFROST_KEY_MAINNET=mainnetXXX
BLOCKFROST_KEY_PREVIEW=previewXXX
BLOCKFROST_KEY_PREPROD=preprodXXXX
#######################
NEXT_PUBLIC_REACT_SERVER_BASEURL="http://localhost"
NEXT_PUBLIC_REACT_SERVER_URL="$NEXT_PUBLIC_REACT_SERVER_BASEURL:3000"
NEXT_PUBLIC_REACT_SERVER_API_URL="$NEXT_PUBLIC_REACT_SERVER_URL/api"
#######################
NEXT_PUBLIC_MAINNET_CNIGHT_CURRENCY_POLICY_ID="fb3cec684bc96575f4ba6ed7f11b1547114d7af41a9f38e552bcfbd2"
NEXT_PUBLIC_PREVIEW_CNIGHT_CURRENCY_POLICY_ID="fb3cec684bc96575f4ba6ed7f11b1547114d7af41a9f38e552bcfbd2"
NEXT_PUBLIC_PREPROD_CNIGHT_CURRENCY_POLICY_ID="fb3cec684bc96575f4ba6ed7f11b1547114d7af41a9f38e552bcfbd2"
NEXT_PUBLIC_MAINNET_CNIGHT_CURRENCY_ENCODEDNAME=""
NEXT_PUBLIC_PREVIEW_CNIGHT_CURRENCY_ENCODEDNAME=""
NEXT_PUBLIC_PREPROD_CNIGHT_CURRENCY_ENCODEDNAME=""
#######################